<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/materialize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
  </head>
  <body class="amber lighten-5">
  <div id="playground" class="container white">
    <div id="myHeader" class="row amber accent-1 valign-wrapper">
      <div class="col s8">
        <h1 class="right-align">{{title}}</h1>
      </div>
      <div class="col s4">
        <img id="notesLogo" class="left-align" src="/images/notesLogo.png"></img>
      </div>
    </div>


    <div class="row no-margin">
    <nav>
      <div class="nav-wrapper amber" id='navbarMain'>
        {{#if user}}
          Welcome, {{user.firstName}}!
        {{/if}}
        {{#unless user}}
          {{noUserMsg}}
        {{/unless}}

        <ul id="nav-mobile" class="right">
          {{#if user}}
            {{#if user.isTeacher}}
              <li><a href="/results/">Student Progress</a></li>
              <!-- <li><a href="/results/json">Student Progress JSON</a></li> -->
              <li><a href="/accounts/add-student">Add Student</a></li>
              <li><a href="/accounts/logout">Logout</a></li>
            {{/if}}
            {{#unless user.isTeacher}}
              <li><a href="/game">Play Game</a></li>
              <!-- <li><a href="/account/modify">Account</a></li> -->
              <li><a href="/accounts/logout">Logout</a></li>
            {{/unless}}
          {{/if}}
          {{#unless user}}
            <li><a href="/game">Play Game</a></li>
            <li> &nbsp &nbsp|&nbsp &nbsp</li>
            <li><a href="/">Login</a></li>
            <li><a href="/accounts/register">Register New Teacher</a></li>
            <li><a class="modal-instructions-trigger" href="#modal-instructions">Instructions & Demo</a></li>
            <!-- <li><a class="waves-effect waves-light btn modal-trigger" href="#modal-instructions">Modal</a></li> -->

          {{/unless}}
        </ul>
      </div>
    </nav>
    </div>

    <div class="row white">
      {{{body}}}
    </div>

  </div>


  <!-- Modal Structure -->
  <div id="modal-instructions" class="modal">
    <div class="modal-content">
      <h5>INSTRUCTIONS</h5>
      <p>Flash Notes is a teacher monitored flash card game for students learning to read musical notes.</p>
      <ol>
        <li>Teacher creates a teacher account</li>
        <li>Teacher then creates student accounts</li>
        <li>Students can log in and play the game</li>
        <li>Upon completing a set of flashcards, results are reported to the server</li>
        <li>When a teacher is logged in, they can see the results for all their students</li>
      </ol>

      <h5>DEMO ACCOUNTS</h5>
      <p>1) If you have a MIDI instrumemnt, try Maya's student login and play<br>&nbsp&nbsp username: mj<br>&nbsp&nbsp password: mj</p>
      <p>2) Try Jim's Teacher Login to see Maya's results<br>&nbsp&nbsp username: jhaff<br>&nbsp&nbsp password: jhaff</p>

      <h5>VIDEO DEMO</h5>
      <p>
        <p>Coming soon.  In the meantime, enjoy this flyfishing video</p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wZAadcAAv5I" frameborder="0" allowfullscreen></iframe>
          <!-- <iframe width="1102" height="620" src="https://www.youtube.com/embed?v=wZAadcAAv5I?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe> -->
        </div>
      </p>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-no-midi-instrument" class="modal">
    <div class="modal-content" id="modal-no-midi-instrument-content">
      <h4>NO MIDI INSTRUMENT DETECTED!</h4>
      <!-- <p><br>Currently you can only play with a MIDI instrument.<br>Ability to play using computer keyboard coming soon!</p> -->
      <div><p>Flash Notes is best played with a MIDI instrument!  If you have one, attach it to the computer with USB and reload the page!</p><div>
      <div id="modal-img"><img src="images/midiKeyboard.jpg"></img></div>
      <div><p>Otherwise, use computer keys "A-G" to play.</p></div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/materialize.js" type="text/javascript"></script>
  <script src="/javascripts/app_ui.js" type="text/javascript"></script>
  </body>
</html>
