{{#each students}}
<h2 style="text-align: center">{{this.firstName}}&nbsp{{this.lastName}}</h2>

  {{#each this.games }}
  <table class="resultsTable" width="100%">
  <caption>{{ this.date }}</caption>

    <tr>
      {{#each this.cards}}
      <th style="text-align: center">{{ this.letter }}</th>
      {{/each}}
    </tr>
    <tr>
      {{#each this.cards}}
        {{colorCodeCount this.wrong_count}}
      {{/each}}
    </tr>

  </table>
  {{/each}}

{{/each}}
